doctype html
thml(lang='ru')
	head
		block title
			title dupont
		block scripts
			script(src='/jquery.js')
	body
			block header
				include header

			.main
				block content

			block footer
				include footer